#header1-1 H1 {
  color: #000000;
}
#header1-1 P {
  color: #000000;
}
#header1-2 H1 {
  color: #ffffff;
}
#slider-4 H1 {
  color: #000000;
}
#slider-4 B {
  color: #f97352;
}
#slider-4 P {
  color: #faaf40;
}
